

@media screen and (min-width:768px){

  body{
    padding-top: 8rem;
  }
  
  header{
    z-index: 20;
    display: block;
    position: fixed;
    height: 8rem;
    width: 100%;
    top: 8rem;
    left: 0;
    padding: 2rem 3rem 0;
    transition:.3s ease-in-out;
    background-color: #fff;
    margin-top: -8rem;
  }
  
  header .hd{
    display: flex;
    justify-content: space-between;
  }
  
  .header_tit a{
    display: block;
    position: relative;
    width: 14rem;
  }
  
  .mob_btn{
    /* border: 1px solid #000; */
    display: block;
    width: 2.8rem;
    height: 1.8rem;
    position: relative;
    margin-top: 0.8rem;
  }
  
  .mob_btn span{
    display: block;
    width: 100%;
    height: 0.2rem;
    border-radius: 3rem;
    background-color: #009476;
    text-indent: -9999px;
    position: absolute;
    transition: 0.3s;
    margin-left: 1rem;
  }
  .mob_btn span:nth-child(1){top: 0;}
  .mob_btn span:nth-child(2){top: 50%;}
  .mob_btn span:nth-child(3){top: 100%;}
  
  .subNav{
    position: fixed;
    top: 6.3rem;
    width: 100%;
    height: 100vh;
    right: -110%;
    /* right: 0; */
    background-color: #008b8b;
    color: #fff;
    transition: right 0.3s ease-in-out;
  }
  
  .subNav .inner{
    background-color: #ffffff;
    color: #000;
    padding: 1rem;
  }
  
  .sub_menu .sub_tit{display: none;}
  .sub_menu .menu1>li{
    padding: 1rem 0;
    border-bottom: 1px solid #dbdbdb;
  }
  
  .sub_menu .menu1>li>span{
    display: block;
    position: relative;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
    cursor: pointer;
    width: 10rem;
    right: 0;
  }
  
  .sub_menu .menu1>li>span:hover{
    background-color: #CEECE5;
    border-radius: 2rem;
  }
  
  .sub_menu .menu1>li:nth-of-type(5){
    border-style: none;
  }
  
  .mOpen .subNav{right: 0;}
  
  .mOpen .mob_btn span:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
  }
  .mOpen .mob_btn span:nth-child(2){
    opacity: 0;
  }
  .mOpen .mob_btn span:nth-child(3){
    transform: rotate(-45deg);
    top: 50%;
  }


  .visual img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51rem;
    margin-top: -4rem;
  }
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .img_wrap img{transform: scale(1.1);}


  /* main visual */

.main{
  width: 100%;
  height: 85rem;
  background-color: #F4F4F4;
  margin-top: -8rem;
}

.visual_txt{
  width: 33rem;
  margin: 8rem auto;
  padding-top: 2.2rem;
}

.visual_txt h2{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.visual{margin-top: -2rem;}

.visual img{
  width: 50rem;
  margin: 0 auto;
  margin-top: -1.5rem;
  padding-left: 1.5rem;
}

.img_wrap img{
  width: 40rem;
}

  /* 주요혜택 */

  .card_1{
    width: 120rem;
    height: 65rem;
    padding: 8rem;
    font-size: 2.8em;
  }

  .card_1 h2{
    padding-left: 2rem;
    font-size: 3.2rem;
  }

  .atm_all{
    display: flex;
    justify-content: center;
    transform: translateX(0.5rem);
    margin-top: 2rem;
    width: 70rem;
  }

  .atm1{
    width: 30rem;
    margin-right: 3rem;
  }

  .atm_txt p{
    font-size: 2.2rem;
  }


  /* 서비스 */
  .point{
    height: 170rem;
    padding: 9rem;
  }

  .point h2{
    padding-left: 2rem;
    font-size: 3.2rem;
    margin-bottom: 6.5rem;
    margin-top: -1rem;
  }

  .pp img{width: 50rem;}


  /* 디자인 */
  .card_d{display: none;}

  #design{
    background-color: #7A4BFF;
  }

  .design_all h2{
    padding-left: 2rem;
    font-size: 3.2rem;
  }
  .design_all p{
    padding-left: 2rem;
    font-size: 1.8rem;
  }

  .design_all{
    width: 80rem;
    height: 75rem;
    padding: 9rem;
  }

  .card_d2{
    height: 45rem;
    display: flex;
    margin-top: -10rem;
  }

  .card_d2 img{
    width: 24rem;
    transform:rotate(0deg);
    transition: 0.4s;
  }

  .d4{
    width: 22rem;
    height: 34rem;
    overflow: hidden;
    margin-top: 6rem;
  }

  .d4 img{
    width: 25rem;
    margin-top: 2rem;
  }

  .d5{
    width: 22rem;
    height: 37rem;
    overflow: hidden;
    margin-left: 4rem;
    margin-top: 3rem;
  }
  .d6{
    width: 22rem;
    height: 37rem;
    overflow: hidden;
    margin-left: 3rem;
    margin-top: 3rem;
  }

  .d5, .d6 img{padding-top: 15rem;}
  .d4 img{padding-top: 8rem;}

  .card_d2 img:hover{transform:rotate(0deg);}

  .d4 img:hover{transform: translateY(-3.5rem);}

  .d5 img:hover{transform: translateY(-4.1rem);}
  .d6 img:hover{transform: translateY(-4.1rem);}

  /* 신청하기 */
  .card_one{
    font-size: 2.9em;
  }

  .onecard{
    transform: rotate(-90deg);
  }
}


@media screen and (min-width:1200px){

  header{
    padding: 3rem 30rem;
    background-color: #fff;
    height: 9rem;
  }
  
  header .hd{
    max-width: 144rem;
    align-items: center;
  }

  .mob_btn{display: none;}
  .subNav{display: none;}

  .h_nav{display: flex;}

  .h_nav li{margin-left: 2.5rem;}

  .h_nav li a{
    display: block;
    padding: 1rem;
    line-height: 1.7rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
    transition: 0.35s;
  }

  .h_nav li a:hover{
    color: #009476;
  }

  .main{
    padding: 10rem;
    top: 9rem;
    display: flex;
    height: 76rem;
  }

  .visual_txt{
    margin-top: 18rem;
    width: 40rem;
    height: 23rem;
  }

  .visual_txt img{
    width: 40rem;
  }

  .visual{
    height: 65rem;
    transform: translateX(-20rem);
    margin-top: -5rem;
    }

  .visual img{
    width: 70rem;
    padding-top: 10rem;
  }

  section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .introduce{
    width: 120rem;
    height: 70rem;
    padding: 13rem;
    display: flex;
    font-size: 2.8em;
  }

  .in_txt{
    height: 20rem;
    margin-top: 13rem;
    margin-left: 3rem;
  }

  .br1{display: none;}

  .img_wrap{
    margin-left: 5rem;
    width: 45rem;
  }

  .deco img{transform:scale(1);}

  .in_txt p::after{
    top: 31.5rem;
    left: 38rem;
  }

  /* 혜택 */
  
  #card1{
    background-color: #7CFFC2;;
  }
  
  .card_1{
    width: 120rem;
    height: 75rem;
    padding: 9rem;
    font-size: 2.8em;
  }

  .card_1 h2{
    font-size: 3.2rem;
  }

  .atm_all{
    display: flex;
    justify-content: center;
    transform: translateX(0.5rem);
    margin-top: 2rem;
    width: 100rem;
  }

  .atm1{
    width: 30rem;
    margin-left: 4rem;
  }

  /* 서비스 */

  .point{
    width: 120rem;
    height: 130rem;
    padding: 9rem;
  }

  .point h2{
    font-size: 3.2rem;
    margin-bottom: 6.5rem;
  }
  
  .pp{display: flex;}

  .pp img{width: 50rem;}

  .point_txt{
    margin-top: 4.5rem;
    margin-left: 3rem;
  }

  .money{
    display: flex;
    position: relative;
    width: 100rem;
    height: 43rem;
    margin-top: 2rem;
  }

  .money img{
    position: absolute;
    left: 49.5rem;
  }
  
  .point_txt2{
    position: absolute;
    left: 25rem;
    top: 12rem;
  }

  /* 카드 디자인 */
  .card_d{display: none;}

  #design{
    background-color: #7A4BFF;
  }

  .design_all h2{font-size: 3.2rem;}
  .design_all p{font-size: 1.9rem;}

  .design_all{
    width: 120rem;
    height: 85rem;
    padding: 9rem;
  }

  .card_d2{
    height: 45rem;
    display: flex;
    margin-left: 17rem;
    margin-top: 4rem;
  }

  .card_d2 img{
    width: 24rem;
    transform:rotate(0deg);
    transition: 0.4s;
  }

  .d4{
    width: 27rem;
    height: 40rem;
    overflow: hidden;
    margin-left: 6rem;
    margin-right: 10rem;
    margin-top: -0.1rem;
  }
  .d4 img{width: 27rem;}

  .d5{
    width: 22rem;
    height: 37rem;
    overflow: hidden;
    margin-left: -6rem;
    margin-top: 3rem;
  }
  .d6{
    width: 22rem;
    height: 37rem;
    overflow: hidden;
    margin-left: 3rem;
    margin-top: 3rem;
  }

  .d5, .d6 img{padding-top: 15rem;}
  .d4 img{padding-top: 8rem;}

  .card_d2 img:hover{transform:rotate(0deg);}

  .d4 img:hover{transform: translateY(-3.5rem);}

  .d5 img:hover{transform: translateY(-4.1rem);}
  .d6 img:hover{transform: translateY(-4.1rem);}

  /* 신청하기 */

  .card_one{
    width: 120rem;
    height: 49rem;
    padding: 10rem;
    font-size: 2.9em;
  }

  .arrow2{margin-top: -1.7rem;}

  .arrow2 img{
    transform: scale(1.2);
    margin-left: 12rem;
  }

  .card_all{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -4rem;
  }

  .card_wrap{
    margin-top: 4.5rem;
  }

  .one_txt{
    height: 20rem;
    margin-top: 4rem;
  }

  .onecard{
    margin-left: 5rem;
    width: 45rem;
    margin-top: -6rem;
  }

  .onecard img{transform:rotate(-90deg);}

  /* 푸터 */

  .mobile_ft{display: none;}
  footer .dsk_ft{display: block;}

  footer{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #C2ECE4;
  }

  .dsk_ft_all{
    width: 120rem;
    height: 27rem;
    display: flex;
    padding: 5rem;
  }

  .dsk_left{
    height: 20rem;
  }

  .family_wrap {
    width:20rem;
    position: relative;
  }

  .family_option {
    display: none;
    position: absolute;
    width: 20rem;
    bottom: 5rem;
    left:0;
    background-color: #dddddd;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    max-height: 50rem;
  }
  .family_list {
    max-height: 35rem;
  }
  .family_list li span{
    display: block;
    padding:1rem 2rem;
    font-size: 1.6rem;
    transition: 0.2s;
  }
  .family_list li span:hover{
    background-color: #007b8b;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
  }

  .family_wrap>a {
    display: block;
    line-height: 3rem;
    background: #ffffffa1;
    border-radius:  1rem;
    font-size: 1.7rem;
    padding:1rem 3rem;
  }

  .family_wrap.active  .family_option{
    display: block;
  }
  .family_wrap.active>a{
    border-radius:0 0 1rem 1rem;
  }

  .family_wrap a:after {
    content: '\f105';
    font-family: fontawesome;
    float: right;
    transition: 0.3s;
    transform: rotate(90deg);
  }

  .ft_icon{
    width: 20rem;
    margin-top: 2.5rem;
    margin-right: 5rem;
    margin-left: 2rem;
    font-size: 2rem;
    color: #333;
  }
  
  .ft_icon a{
    transition: 0.2s;
    margin-right: 1.5rem;
  }
  
  .ft_icon a:nth-child(1){
    border: 0.1rem solid transparent;
    background-color: #ffffffa1;
    color: #008b8b;
    padding: 0.5rem 0.8rem;
    border-radius: 50%;
  }
  
  .ft_icon a:nth-child(2){
    border: 0.1rem solid transparent;
    background-color: #ffffffa1;
    color: #008b8b;
    padding: 0.5rem 1rem;
    border-radius: 50%;
  }
  
  .ft_icon a:nth-child(3){
    border: 0.1rem solid transparent;
    background-color: #ffffffa1;
    color: #008b8b;
    padding: 0.5rem 1.1rem;
    border-radius: 50%;
  }

  .ft_icon a:hover{
    background-color: #008b8b;
    color: #fff;
  }

  .ft_logo{
    margin-top: 2.7rem;
    margin-left: 1.9rem;
  }

  .ft_logo img{width: 15rem;}
  
  .dsk_right{
    padding: 2rem;
    height: 13rem;
    margin-top: 1rem;
  }

  .dsk_right p{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    word-spacing: 3rem;
    color: #333;
  }

  .dsk_right span:hover{
    cursor: pointer;
    color: #008b8b;
    font-weight: 600;
  }

  .dsk_right h4{
    padding: 2rem;
    font-weight: 400;
    font-size: 1.3rem;
    margin-top: 0.3rem;
    color: #333;
  }

}